<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @donor.First_Name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @donor.Last_Name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @donor.Email %>
</p>

<table>
  <thead>
  <tr>
    <th>Date Time</th>
    <th>Amount</th>
    <th colspan="3"></th>
  </tr>
  </thead>

<tbody>
<% @donor.donations.each do |donation| %>
    <tr>
      <td><%= donation.created_at %></td>
      <td><%= number_to_currency(donation.Amount) %></td>
    </tr>
<% end %>
</tbody>
</table>
<br>
<table>
    <thead>
    <tr>
<th>Sum of Amounts</th>
<br>
    </tr>
    </thead>
  <tbody>
    <tr>
        <td><%= number_to_currency(@donor.donations.sum(:Amount)) %></td>
    </tr>
  </tbody>
</table>
<br>
<%= link_to 'Edit', edit_donor_path(@donor) %> |
<%= link_to 'Back', donors_path %>