<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @donation.created_at %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @donation.Amount %>
</p>

<p>
  <strong>Donor:</strong>
  <%= @donation.Donor_id %>
</p>

<%= link_to 'Edit', edit_donation_path(@donation) %> |
<%= link_to 'Back', donations_path %>
